body, html {
  height: 100%;
  overflow: hidden;
  background-color: #B8BF9C;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  background-image: url("TestingFarm.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: baksoSapi;
  src: url(BaksoSapi.otf);
}

.title {
  font-family: baksoSapi;
  color: white;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-left: -800px;
}

#fact {
  font-family: baksoSapi;
  font-size: 25px;
  position: absolute;
  text-align: center;
  top: 820px;
  color: white;
}

.animal[alt="cow1"] {
  position:relative;
  left: -145px;
  top: -701px;
}

.animal[alt="cow2"] {
  position: relative;
  left: -98px;
  top: -750px;
}

.animal[alt="cow3"] {
  position: relative;
  left: -105px;
  top: -720px;
}

.animal[alt="chicken1"] {
  position: relative;
  left: -30px;
  top: -705px;
}

.animal[alt="chicken2"] {
  position: relative;
  left: -63px;
  top: -725px;
}

.animal[alt="pig1"] {
  position: relative;
  left: -235px;
  top: -752px;
}

.animal[alt="pig2"] {
  position: relative;
  left: -265px;
  top: -790px;
}

.animal[alt="pig3"] {
  position: relative;
  left: -238px;
  top: -835px;
}

.animal[alt="goat1"] {
  position: relative;
  left: 530px;
  top: -925px;
}

.animal[alt="goat2"] {
  position: relative;
  left: 615px;
  top: -890px;
}

.animal[alt="goat3"] {
  position: relative;
  left: 436px;
  top: -850px;
}

.animal[alt="goat4"] {
  position: relative;
  left: 495px;
  top: -889px;
}

.animal[alt="goat5"] {
  position: relative;
  left: 505px;
  top: -997px;
}

.animal[alt="goat6"] {
  position: relative;
  left: 549px;
  top: -938px;
}

.animal[alt="goat7"] {
  position: relative;
  left: 562px;
  top: -1037px;
}

.animal[alt="sheep1"] {
  position: relative;
  left: -38px;
  top: -640px;
}

.animal[alt="sheep2"] {
  position: relative;
  left: 5px;
  top: -690px;
}

.animal[alt="sheep3"] {
  position: relative;
  left: 3px;
  top: -685px;
}

.animal[alt="sheep4"] {
  position: relative;
  left: 46px;
  top: -725px;
}

.animal[alt="sheep5"] {
  position: relative;
  left: 85px;
  top: -770px;
}

.animal[alt="sheep6"] {
  position: relative;
  left: -40px;
  top: -798px;
}

.animal[alt="greybunny1"] {
  position: relative;
  left: 150px;
  top: -748px;
}

.animal[alt="greybunny2"] {
  position: relative;
  left: 205px;
  top: -780px;
}

.animal[alt="greybunny3"] {
  position: relative;
  left: 181px;
  top: -770px;
}

.animal[alt="greybunny4"] {
  position: relative;
  left: 137px;
  top: -775px;
}

.animal[alt="greybunny5"] {
  position: relative;
  left: 235px;
  top: -805px;
}

.animal[alt="stripedbunny1"] {
  position: relative;
  left: -108px;
  top: -765px;
}

.animal[alt="stripedbunny2"] {
  position: relative;
  left: -108px;
  top: -753px;
}

.animal[alt="stripedbunny3"] {
  position: relative;
  left: -70px;
  top: -802px;
}

.animal[alt="turkey1"] {
  position: relative;
  left: 150px;
  top: -820px;
}

.animal[alt="turkey2"] {
  position: relative;
  left: 200px;
  top: -825px;
}

.animal[alt="turkey3"] {
  position: relative;
  left: 195px;
  top: -895px;
}

.animal[alt="turkey4"] {
  position: relative;
  left: 243px;
  top: -892px;
}

